   @charset "UTF-8";
   /* Regra charset caso haja problemas com acentuação */
   
   body {
      background-color: rgb(61, 61, 226);
      color: white;
   }
   h1, h2 {
      text-align: center;
   }
   p {
      font-size: 15pt;
      margin-left: 100pt;
      margin-right: 100pt;
   }
   b {
      color: rgb(205, 52, 203);
   }
   pre {
      background-color: rgb(226, 221, 214);
      color: blue;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 100px;
      margin-right: 100px;
   }
   strong {
      background-color: white;
      color: black;
   }
   mark {
      background-color: rgb(255, 255, 255);
      color: red;
   }
   code {
      background-color: yellow;
      color: black;
   }
   table {
      font-size: 18pt; /* tamanho da fonte*/
      border: 1px solid black; /* adiciona borbda a tabela */
      border-collapse: collapse; /* une as bordas da tabela */
      width: 100%;
   }
   caption {
      background-color: yellow; /*coloca cor no fundo*/
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18pt; /* tamanho das letras */
      color: black; /* coloca a cor das letras*/
   }
   th, td {
      background-color: #b9dbdb;
      color: black;
      padding: 5px 5px 5px 5px;/*preenchimento das células*/
      margin: 100%; /*usa 100% das margens*/
   }
   td.opera { /*modifica a classe na TABEL DATA*/
      text-align: center; /*alinha o texto no centro da célula*/
   }